<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBARcfd7HYxJR_v61EHq-pvinVLSnleX9k</string>
	<key>GCM_SENDER_ID</key>
	<string>601124639008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.copia.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>projeto-laborial---virtnuvem</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-laborial---virtnuvem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601124639008:ios:a4b33b833fd10737f70745</string>
	<key>DATABASE_URL</key>
	<string>https://projeto-laborial---virtnuvem-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>